In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [6]:
train = pd.read_csv('F:ExcelR/DataSets/SalaryData_Train(1).csv')
test = pd.read_csv('F:ExcelR/DataSets/SalaryData_Test(1).csv')

In [8]:
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [12]:
train['Salary']=lb.fit_transform(train['Salary'])
test['Salary']=lb.fit_transform(test['Salary'])

In [20]:
train['Salary'].value_counts()

0    22653
1     7508
Name: Salary, dtype: int64

In [21]:
test=pd.get_dummies(test)
train=pd.get_dummies(train)

In [22]:
x_train = train.iloc[:, :13]
y_train= train.iloc[:, 13]
x_test = test.iloc[:, :13]
y_test= test.iloc[:, 13]

In [23]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)

SVC()

In [25]:
pred=model.predict(x_test)

In [26]:
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [27]:
print(classification_report(pred,y_test))

              precision    recall  f1-score   support

           0       1.00      0.97      0.99     15060
           1       0.00      0.00      0.00         0

    accuracy                           0.97     15060
   macro avg       0.50      0.49      0.49     15060
weighted avg       1.00      0.97      0.99     15060

C:\Users\Utkarsh Chalsey\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Utkarsh Chalsey\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Utkarsh Chalsey\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))