In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report

In [3]:
comp = pd.read_csv("F:ExcelR/DataSets/Fraud_check.csv")

In [4]:
comp.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [5]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [6]:
comp.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [7]:
cut_labels=['Risky', 'Good']
cut_bins=[0, 30000,100000]
comp['TxIn']=pd.cut(comp['Taxable.Income'],labels=cut_labels,bins=cut_bins)

In [8]:
comp.pop('Taxable.Income')

0      68833
1      33700
2      36925
3      50190
4      81002
       ...
595    76340
596    69967
597    47334
598    98592
599    96519
Name: Taxable.Income, Length: 600, dtype: int64

In [9]:
comp.head()

  Undergrad Marital.Status  City.Population  Work.Experience Urban  TxIn
0        NO         Single            50047               10   YES  Good
1       YES       Divorced           134075               18   YES  Good
2        NO        Married           160205               30   YES  Good
3       YES         Single           193264               15   YES  Good
4        NO        Married            27533               28    NO  Good

In [22]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
comp['Undergrad']=label_encoder.fit_transform(comp['Undergrad'])
comp['Marital.Status']=label_encoder.fit_transform(comp['Marital.Status'])
comp['Urban']=label_encoder.fit_transform(comp['Urban'])
comp['TxIn']=label_encoder.fit_transform(comp['TxIn'])

In [23]:
comp.head()

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban  TxIn
0          0               2            50047               10      1     0
1          1               0           134075               18      1     0
2          0               1           160205               30      1     0
3          1               2           193264               15      1     0
4          0               1            27533               28      0     0

In [24]:
colnames = list(comp.columns)
colnames

['Undergrad',
 'Marital.Status',
 'City.Population',
 'Work.Experience',
 'Urban',
 'TxIn']

In [25]:
x = comp.iloc[:,0:5]
y = comp.iloc[:,5]

In [33]:
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.3,random_state=0)

# Decision Tree

In [34]:
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [35]:
model.get_n_leaves()

7

In [36]:
preds = model.predict(x_test)
pd.Series(preds).value_counts()

0    180
dtype: int64

In [37]:
preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0])

In [38]:
pd.crosstab(y_test,preds)

col_0    0
TxIn
0      137
1       43

In [39]:
print(classification_report(preds,y_test))

              precision    recall  f1-score   support

           0       1.00      0.76      0.86       180
           1       0.00      0.00      0.00         0

    accuracy                           0.76       180
   macro avg       0.50      0.38      0.43       180
weighted avg       1.00      0.76      0.86       180

C:\Users\Utkarsh Chalsey\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Utkarsh Chalsey\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Utkarsh Chalsey\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))